---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio - Jared Peña Ochoa</title>
  </head>
  <body class="bg-blue-50">
    <slot />
  </body>
</html>
